body {
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(https://9to5mac.com/wp-content/uploads/sites/6/2019/07/apple_champs_elysees_boardroom.jpg?quality=82&strip=all&w=1600); */
    /* background-image: url(/webserver/img/—Pngtree—mountain\ sunset\ minimalist\ landscape\ scenery_1604211.jpg); */
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
  }

  
  .card {
    width: 600px;
    padding: 20px;
    height: 600px;
    margin: 20px 0;
    background: rgb(0 0 0 / 5%);
    box-shadow: inset 1px 1.5px 2px #fff9, inset 1px -0.5px 2px #ffffff4d,
      0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e,
      0 2.288533303243457px 2.288533303243457px -2.5px #00000029,
      0 10px 10px -3.75px #00000010;
    backdrop-filter: blur(40px);
    border-radius: 30px;
    position: relative;
  }
  
  .side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
  }
  

  .left-side {
    transform: rotateY(45deg) translateX(-1000px);
    animation: animate-left 0.7s forwards;
  }
  .right-side {
    transform: rotateY(-45deg) translateX(1000px);
    animation: animate-right 1s forwards;
  }
  
  .center-side {
    transform: rotateX(0deg) scale(0.9) translateY(-1000px);
    animation: animate-center 0.7s forwards;
  }
  
  .row {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .small {
    width: 50px;
    height: 50px;
  }
  
  button {
    /* background-color: rgba(52, 49, 49, 0.2);
    border-radius: 30px; */
    width: 80px;
    /* border: none;
    font-size: 16px;
    padding: 6px 12px;
    color: white;
    text-decoration: none; */
    transition: background-color 0.25s;
  }
  
  .button:hover {
    background-color: rgba(67, 65, 65, 0.4);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .card:has(img) {
    padding: 0;
  }
  
  label {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
  }
  
  .left-side .card{
    width: 200px;
    height: 600px;
  }
  .right-side .card {
    width: 200px;
    height: 600px;
  }
  
  @keyframes animate-left {
    100% {
      transform: rotateY(45deg) translateX(0px);
    }
  }
  
  @keyframes animate-right {
    100% {
      transform: rotateY(-45deg) translateX(0px);
    }
  }
  
  @keyframes animate-center {
    100% {
      transform: rotateX(0deg) scale(0.9) translateY(0px);
    }
  }
  

  .list{
    width: 150px;
    height:100px;
    /* background-color: white; */
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    background: rgb(0 0 0 / 30%);
    box-shadow: inset 1px 1.5px 2px #fff9, inset 1px -0.5px 2px #ffffff4d,
      0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e,
      0 2.288533303243457px 2.288533303243457px -2.5px #00000029,
      0 10px 10px -3.75px #00000010;
    backdrop-filter: blur(40px);
    border-radius: 30px;

    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이를 기준으로 정렬 */
    color: white;
  }
